<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/style.css"></link>
	<title>Ma page avec une barre d'entête</title>
</head>
<body>
	<header>
		<img class="logo" src="/logo.png" alt="Logo">
		<div class="buttons">
			<button><a href="http://localhost:3000">Home</button>
			<button><a href="http://localhost:3000/students">Students</button>
			<button><a href="http://localhost:3000/students/create">Create</button>
			<button><a href="http://localhost:3000/students/data">Data viz</a></button>
		</div>
	</header>
	<div class="container">
		<p>Welcome to NFJ-LAND</p>
	</div>
</body>
</html>

